### Basic Python

In [9]:
# int 
a = 10

In [10]:
a

10

In [5]:
a = 40

In [6]:
a

40

In [7]:
a = "Prabhash Kumar Jha" 
a

'Prabhash Kumar Jha'

- Talk on Dynamic vs static

### String concatenation and Replication

In [36]:
'Ram' + 'Sita' # when + is used on two string values, it joins the strings as the string concatenation operator
# 'Ram' + 42 # error

'RamSita'

In [41]:
# when * is used, replication occurs 
'Ram' * 5 # string * int 
# 'Alice' * 5.0 # error

'RamRamRamRamRam'

### comparison between == vs is

In [39]:
""" 
== compares values and 
is compares refrences 
"""

' \n== compares values and \nis compares refrences \n'

In [9]:
a = 10 
b = 10 

# comparison 
a==b

True

In [10]:
a is b

True

Here both have given true since both a and b are pointing to same object. If they would have pointed to the different object then 
a == b would have been True and a is b would have been False.

Fun Fact : It totally depend upon python if it wants to make same object for both or different. The values from -6 to 256 are reserved in python.

In [11]:
a = 455
b = 455

In [16]:
a is b # comment what would be the output ?

False

This has given false since -6 to 256 values are reserved in python.

In [17]:
# checking the type of data 
type(a)

int

### Indentation
Indentation refers to the spaces at the beginning of a code line.

Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.

Python uses indentation to indicate a block of code.

In [24]:
if 5>2:
    print('5 is greater than 2') # Both single or double quotes are same.

5 is greater than 2

In [25]:
if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [26]:
if 9>3: 
 print("9 is greater than 3") # single space will also work. But there should be identation.

9 is greater than 3

### Casting
If you want to specify the data type of a variable, this can be done with casting.

In [27]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [28]:
print(x,y,z)

3 3 3.0

### Case-Sensitive
Variable names are case-sensitive.

In [33]:
a = 3
A = "Ram"
#A will not overwrite a

In [34]:
A

'Ram'

### Input() function

In [43]:
my_name = input()

print('Hello, my name is ' + my_name )

 hh

Hello, my name is hh

### List

In [1]:
a = [0,1,2]
a

[0, 1, 2]

In [2]:
# index 
a[1]

1

In [3]:
a[2]

2

In [5]:
a[3] # error

IndexError: list index out of range

In [6]:
a[-1] # from behind

2

In [7]:
a[-3]

0

In [8]:
b = [345, "Rahul", 34.6 ]
b

[345, 'Rahul', 34.6]

In [13]:
a = [ 1, 23, 56 ] 
b = a

In [14]:
a

[1, 23, 56]

In [15]:
b

[1, 23, 56]

In [18]:
b[0] =100 # changing the value of b will also change the value of a

In [19]:
a

[100, 23, 56]

In [23]:
# we can assign none as well to the list 
a = None # a will not point to the heap memory rather it will point to none.
print(a)

None

In C++, each element in an array or vector needs to have the same data type. But in python we can have multi-type.

### Tuple

In [24]:
a = (32, 45, 998) 
a

(32, 45, 998)

In [25]:
a[1]

45

In [26]:
a[0] = 100 # error - tuple is immutable data type in python and we can not change the values.

TypeError: 'tuple' object does not support item assignment

Immutable data type could be there for the security reason as well. As we cannot change the values from one refence to another like in list as we change the value of a through the refrence b.

In [28]:
a = ( 78, 89) # here I have not the values of a rather I have assigned the new values to a 
print(a)

(78, 89)

### Sets 
Sets are same thing as in maths ie collection of unique elements.

In [29]:
a = { 33, 33, 56 } 
print(a)

{56, 33}

Here, similar values are removed. 

More Features: 
> Duplicate values are removed. There is no any order i.e. 1,2,3, the values could be 3, 1,2

### Dictionary 
They have key value pair.

In [30]:
dicti = {
    "mango" : "king of fruits",
    "apple" : "a sweet red fruit"
}
print(dicti)

{'mango': 'king of fruits', 'apple': 'a sweet red fruit'}

Here, mango and apple are keys and king of fruits and a sweet red fruit are vlaue.

In [32]:
dicti['apple'] # getting the value of apple

'a sweet red fruit'

### Slicing and Comprehension

In [35]:
# slicing 
# syntax : variable[start:end:step]
a = [ 3,34,5, 2,35 ] 
a[:] # all the elements of a

[3, 34, 5, 2, 35]

In [37]:
a[1:3]

[34, 5]

Here, the starting point is inclusive and ending point is exclusive.

In [39]:
# suppose I want value from 34 to 2 then the index value of 34 is 1 which should be included and 2 has index value of 3 which should be excluded. 
a[1:4] # ending point is excluded and next index is considered.

[34, 5, 2]

In [40]:
a[0:5:2]

[3, 5, 35]

In [43]:
a[:-1] # starting from first element till second last.

[3, 34, 5, 2]

In [45]:
a[-1:] # start from last element till end( does not have any value) with 1 step size.

[35]

In [46]:
a[-1::-1] # start from last element till the end with -1 step size. # reverse

[35, 2, 5, 34, 3]

## Conditionals

In [53]:
if a: 
    print("a has some value:")

a has some value:

In [54]:
if -1: 
    print("-1")

-1

In [1]:
if [223]: # if some values then true 
    print("list")

list

In [3]:
if 0: 
    print('False') # Nothing will be output as 0 is False.

In [4]:
a = 10 
if a == 10: 
    print("a is 10")

a is 10

In [5]:
if a > 10 : 
    print('a is greater than 10')
else: 
    print('a is not greater than 10')

a is not greater than 10

In [6]:
if a > 10: 
    print("yes")
elif a < 10 : 
    print("less")
else: 
    print("Equal")

Equal

As already studied above indentation is quite important in python, the block of code inside the conditionals should have same indentation.

In [7]:
if a : 
    print('a')
      print('b') # error

IndentationError: unexpected indent (2271232016.py, line 3)

In [8]:
if a : 
    print('a')
    print('b')

a
b

## Loops

### For loops and while loops

#### syntax for 'for' loop 
for varible in iterator:# variables could be anything, will be pointing to the iterator.

In [10]:
a = [4,45,6] # Iterator - sth that will iterate over eg, string, list, tuples and other. 
for num in a: 
    print(num)

4
45
6

In [12]:
s = 'Prabhash'
for ch in s: 
    print(ch)

P
r
a
b
h
a
s
h

In [13]:
a = [4,5,6] 
for oli in a: 
    print(oli)

4
5
6

#### using index in for loops

In [19]:
a = [3,4,5] 
for index, ch in enumerate(a):
    print(index,ch)

0 3
1 4
2 5

index, ch is doing tupling. What does that means ?

In [20]:
# lets say to swap to value 
a = 20 
b = 30 

a,b = b,a # swapping 

print(a) 
print(b)

30
20

(a, b) = ( 30, 20)  # this is what happening making an tuple

In above code, enumerate is making tuple ie, 
index, ch = ( index, value )

In [22]:
a = [3,5,5]
for index, ch in enumerate(a):
    print(index,a[index])

0 3
1 5
2 5

### While loops 
We provide condition to the while and if the condition is TRUE, the body will execute.

In [27]:
a = 5 
while a > 0: 
    print(a)
    a = a - 1

5
4
3
2
1

### Range

In [28]:
a = range(1,10,2) 
a # will provide the object of type range

range(1, 10, 2)

In [31]:
a = list(range(1,10,2)) # converting the range into list # start - 1 end - 10 and step_size = 2 
a

[1, 3, 5, 7, 9]

In [32]:
for uncle in range(1,5): # start - 1 , end - 5 , step_size - 1
    print(uncle)

1
2
3
4

#### using for loops with list

In [33]:
a = [i for i in range(1,6)]
a # list comprehension - will print first 5 natural numbers

[1, 2, 3, 4, 5]

First i: This i is used as a placeholder variable within the list comprehension. It represents each element that is being generated by the range(1, 6) function call and included in the list a. It's similar to how i was used in the previous explanation of the loop. In this context, it's used to construct the list by iterating over the elements generated by range(1, 6).

Second i: This i is used as the loop variable in the list comprehension. It iterates over the sequence generated by range(1, 6), taking on each value in that sequence in turn. So, in each iteration of the list comprehension, this i represents one of the numbers from 1 to 5 (inclusive).

In summary, both i's play a role in generating the list a, with the first i defining what each element in the list will be, and the second i iterating over the sequence of numbers generated by range(1, 6).

In [37]:
a = [i for gandhi in range(1,6)]
a  # error

NameError: name 'i' is not defined

In [38]:
a = [gandhi for gandhi in range(1,6)]
a

[1, 2, 3, 4, 5]

In [41]:
# print two's table 
t = [2*i for i in range(1,11)] 
t

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [15]:
n = 3 
t = [i*n for i in range(1,11)]
t # table of 3

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

Here, 2*i is going to run for every value in that range. List comprehension is used to make the program more readable and simple.

In [8]:
# 2D list 
a = [[2,4],
     [5,6]]
a

[[2, 4], [5, 6]]

In [9]:
# accessing the elements of the 2D array 
a[0][1] # a[row][columns]

4

In [10]:
len(a) # number of rows

2

In [11]:
len(a[0]) # number of columns in row0

2

In [13]:
# converting the tuple into list 
t = (2,4,6) 
l = list(t) 
print(l)

[2, 4, 6]

#### Break 
used to break out of loop

In [16]:
a = list(range(1,11)) 
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [21]:
for i in a: 
    print(i, end =" ")
    if i==6: 
        break

1 2 3 4 5 6

In [22]:
for i in a: 
    if i==6: 
        continue # will skip the value of 6 
    print(i, end =" ")

1 2 3 4 5 7 8 9 10

#### for else 
when break condition is provided, it will not run the break condition and when break condition is not provided it will run the else condition.

In [23]:
for i in a: 
    print(i, end =" ")
    if i==6: 
        break
else: 
    print("\nfor/else statement is run")

1 2 3 4 5 6

In [25]:
for i in a: 
    print(i, end =" ")
    # if i==6: 
    #     break
else: 
    print("\nfor/else statement is run") #  \n - breaks the line

1 2 3 4 5 6 7 8 9 10
for/else statement is run

## Function

Fuctions are basically collection of your programs. 
- syntax - 
def function_name(parameters):
    code to be executed
    return type

In [27]:
def fun():
    print("Hello world")

fun() # calling an fun

Hello world

In [36]:
# if there is no return type, function returns none 
a = fun()

Hello world

In [38]:
print(a)

None

In [31]:
def ff(): 
    return 3

In [32]:
b = ff()

In [33]:
print(b)

3

In [39]:
# add 2 numbers 
def sum(a,b): 
    return a+b

In [40]:
print(sum(3,4))

7

#### Lambda Function 
if your function body is small, then use inline/lambda function.

##### Comparison betn lambda function and function>

In [41]:
def fun(a):
    print(a)

In [44]:
fun = lambda a:print(a) # Here fun(fun_name is variable) and parameter is {lambda a}, a is parameter inside above fun

In [43]:
fun("Hello world")

Hello world

In [45]:
# again for add

In [50]:
# def add(a,b): 
#     return a+b

In [51]:
add = lambda a,b: a + b

In [52]:
add(3,4)

7

While lambda functions can be convenient, they are not necessarily related to performance improvements in the same way as inline functions in C++. They are more about conciseness and readability.

#### Map Function 
Applies a given function to each element of iterable

In [57]:
# how to check the description of the keywords in python 
?print
#help(print)

Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
Docstring:
Prints the values to a stream, or to sys.stdout by default.

sep
  string inserted between values, default a space.
end
  string appended after the last value, default a newline.
file
  a file-like object (stream); defaults to the current sys.stdout.
flush
  whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [58]:
?map

Init signature: map(self, /, *args, **kwargs)
Docstring:
map(func, *iterables) --> map object

Make an iterator that computes the function using arguments from
each of the iterables.  Stops when the shortest iterable is exhausted.
Type:           type
Subclasses:

In [61]:
# multiply each number in list by 2 
a = [2,3,4,5] 
def multiply(x):
    return 2*x

In [64]:
multiply(a) # this will not work as it will not multiply the value rather will print the value twice.

[2, 3, 4, 5, 2, 3, 4, 5]

So now to mulitply each values

In [65]:
map(multiply, a)

In [67]:
# to print the list of value 
list(map(multiply, a)) # applied multiply to every element of a

[4, 6, 8, 10]

In [69]:
# doing same thing using lambda ( does the work in one line ) 
list(map(lambda x: 2*x, a))

[4, 6, 8, 10]

In [71]:
# make every element power of that element 
list(map(lambda x: x*x, a)) # or (lambda x : x ** 2 , a)

[4, 9, 16, 25]

#### Filter Function 
The function return True or False only !

In [72]:
# want event number 
a = [1,2,3,4,5,6,7,8,9,10]

In [73]:
def isEven(x):
    if x%2 == 0 : 
        return True
    else: 
        return False

In [74]:
isEven(5)

False

In [75]:
list(filter(isEven, a ))

[2, 4, 6, 8, 10]

How? Here, in list if the value is True it will get printed and not then ignored.

In [76]:
list(filter(lambda x : x % 2 == 0, a))

[2, 4, 6, 8, 10]

In [77]:
# Fun Fact: you can not use # inside function body for comment 
def fun(): 
    # not working

SyntaxError: incomplete input (3017752026.py, line 3)

In [79]:
# correct way  
def fun():  
    """
    should work
    """

In [80]:
# Fact check : Everything is object 
def multipy(x): 
    return 2*x

In [81]:
isinstance(multiply, object)

True