In [1]:
# list

In [2]:
a = [ 1, 2, 4, 7 ]

In [3]:
a.append(4) # a. press tab to get func list

In [4]:
a

[1, 2, 4, 7, 4]

In [5]:
a.insert(2, 34) # index - 2 value - 32 will be inserted

In [6]:
print(a)

[1, 2, 34, 4, 7, 4]

In [7]:
a.remove?

Signature: a.remove(value, /)
Docstring:
Remove first occurrence of value.

Raises ValueError if the value is not present.
Type:      builtin_function_or_method

In [8]:
a.remove(4) # removed first occurence of 4

In [9]:
a

[1, 2, 34, 7, 4]

In [10]:
a.reverse()

In [11]:
a

[4, 7, 34, 2, 1]

In [12]:
# more details of the input function

In [13]:
a = input()

 45

In [14]:
b = input()

 67

In [15]:
a + b # will get an string value as 3 and 78 are string. # concatenation

'4567'

In [16]:
int(a) + int(b) # casting

112

In [17]:
a = int(input("Enter first number : "))
b = int(input("Enter second number : "))

Enter first number :  789
Enter second number :  789

In [18]:
a

789

In [19]:
type(a)

int

#### Strip, split and join method

In [20]:
a = "     2 77878  "

In [21]:
a.strip() # will remove any extra spaces not in between the number

'2 77878'

In [22]:
type(a)

str

In [23]:
a =  " 2 3 4 5 6 "

In [24]:
a = a.split() # split the numbers according to the spaces and makes them list # breaking strings into strings 
print(a)

['2', '3', '4', '5', '6']

In [25]:
# apply the int function to every element of the list 
?map

Init signature: map(self, /, *args, **kwargs)
Docstring:
map(func, *iterables) --> map object

Make an iterator that computes the function using arguments from
each of the iterables.  Stops when the shortest iterable is exhausted.
Type:           type
Subclasses:

In [26]:
li = list(map(int, a))
li

[2, 3, 4, 5, 6]

In [27]:
sum(li)

20

In [28]:
# join
li = input()

 1 3 2 45 6

In [29]:
li

'1 3 2 45 6'

In [30]:
li = li.split()
print(li)

['1', '3', '2', '45', '6']

In [31]:
"-".join(li) # concatenated string having - in between them

'1-3-2-45-6'

In [32]:
" ".join(li)

'1 3 2 45 6'

In [33]:
"".join(li)

'132456'

#### String formatting

In [34]:
a = 23 
b = 34 
print("The values are ",a , "and ", b)

The values are  23 and  34

In [35]:
# same thing 
print("The values are {} and {}".format(a,b)) # used two placeholder {}.

The values are 23 and 34

In [36]:
# the best way 
# f string 
print(f"The value are {a} and {b}")

The value are 23 and 34

## OOP 
###### very very very important
Dividing programs into parts or blocks.

In [37]:
# simplest class

In [15]:
class Human: 
    pass

In [21]:
obj1 = Human()

In [23]:
print(obj1)

<__main__.Human object at 0x7f5053bf9c10>

In [20]:
class Human: 
    age = 0
    name = "Unknown"

In [17]:
The_Rock = Human() 
# whenever you create an object, a constructor(a special type of fn to create obj or class) is called

In [41]:
The_Rock.age

0

In [42]:
The_Rock.name

'Unknown'

In [43]:
# lets create another object 

stone_cold = Human()

In [44]:
The_Rock.age, stone_cold.age

(0, 0)

In [45]:
The_Rock.age = 20 
stone_cold.age = 21

In [46]:
The_Rock.age,stone_cold.age

(20, 21)

In [47]:
The_Rock.name = "John_Cena"
stone_cold.name = "kendrick_lamar"

In [48]:
The_Rock.name, stone_cold.name

('John_Cena', 'kendrick_lamar')

Changing the objects age and name will not affect the class attributes i.e. age and name of the class Human.

In [49]:
Human.age, Human.name

(0, 'Unknown')

In [50]:
# now changing

In [51]:
Human.age = 324 
Human.name = 'Alexa'

In [52]:
Human.age, Human.name

(324, 'Alexa')

In [53]:
The_Rock.salary = 50000 # added one attribute on The_Rock

In [54]:
The_Rock.salary

50000

In [55]:
stone_cold.salary # no attribute is created on stone_cold of salary

AttributeError: 'Human' object has no attribute 'salary'

In [56]:
Human.salary = 4000

In [57]:
The_Rock.salary

50000

In [58]:
stone_cold.salary

4000

At first, salary of the object's attribute is checked if there is any if not then only it will check the Human salary attribute.

**Problem :** Should I be assign name, age and salary 1000 times or do I have any solution so that i can assign the value inside object? I want to assign these values, when object is created. 
**Solution :**

In [59]:
class Human:
    def fun():
        print("Hello world")

In [60]:
function = Human()

In [61]:
function.fun() # by default it passes one argument

TypeError: Human.fun() takes 0 positional arguments but 1 was given

In [62]:
class Human: 
    def fun(something): # to avoid above argument error 
        print("Hello world")

In [63]:
function = Human()

In [64]:
function.fun()

Hello world

In [199]:
# lets check what actually is object 
class Human:
    def fun(something):
        print(something)
        print("Hello world")

function = Human()
function.fun()

<__main__.Human object at 0x7f2b39f7ce10>
Hello world

Something is an object. 
**Fun Fact** fuction is being passed ie. function.fun(function)

In [66]:
class Human:
    def fun(self): # there is by default one keyword - self 
        print("Hello world")

function = Human()
function.fun()

Hello world

In [67]:
class Human:
    age = 10
    def fun(self):
        print(self)
        print(self.age)

google = Human()
google.age = 45 
google.fun()

<__main__.Human object at 0x7f2b3aa3dc10>
45

**Explanation:** google(object) is being passed whereever there is self in the function.

In [68]:
# above code is same as this # self is basically representing the object 
Human.fun(google)

<__main__.Human object at 0x7f2b3aa3dc10>
45

In [69]:
# suppose 
class Human: 
    age = 10
    def fun(self):
        print(age)

object = Human()
object.age = 45 
object.fun()

NameError: name 'age' is not defined

#### This is the condition of scoping. 
You can do two things: either print the age of the human class or print the age of the object.

In [70]:
#### 1. Printing the age of the human class 
class Human: 
    age = 10
    def fun(self):
        print(Human.age)

a = Human()
a.age = 56787 
a.fun()

10

In [71]:
#### 2. Printing the age of the object 
class Human:
    age = 10
    def fun(self):
        print(self.age) # same as print(a.age)

a = Human()
a.age = 46767
a.fun()

46767

In [72]:
# now again 
class Human:
    age = 10
    def fun(self):
        print(a.age) # this is not letting object b to print the age of the object b thus self is needed. 
        
b = Human()
b.age = 578 
b.fun()

46767

In [73]:
# soln 
class Human: 
    age = 10
    def fun(self):
        print(self.age)

b = Human()
b.age = 670 
b.fun()

670

In [74]:
class Human:
    """ 
    No need of default vlaue, 
    want to assign the value 
    when object is being created.
    This is soln of above problem.
    """
    def __init__(): # by default one constructor is created in python when no constructor is created (__init__). 
        """
        This is wrong there should one arguement.
        """
        pass

In [194]:
# not providing any default method inside class 
class Human: 
    # overriding # there is no concept of overloading in python 
    """
    The previous init method (default one ) has been overrided here. 
    """
    def __init__(self,name, age): ## these keyword using dunder are known as magic method ( __init__ -> constructor method ) 
        self.age = age # assigning the values that we will pass on object
        self.name = name

In [195]:
a = Human("Alexa", 56)

In [196]:
a.name, a.age

('Alexa', 56)

In [197]:
b = Human("Larry", 45)

In [86]:
b.name, b.age

('Larry', 45)

In [87]:
Human.name # human does not have any thing here

AttributeError: type object 'Human' has no attribute 'name'

In [89]:
# actually you can also assign the value something like this 
a.age = 45 
a.age

45

This is not an good practise to set the value. We can also prevent this to happen.

In [97]:
# overloading - In other programming language you might find the concept of overloading. But in python 
def fun():
    print("Hey") # this one has no refrence after below fun(a) is created. 

def fun(a):
    print(a)

In [98]:
fun()

TypeError: fun() missing 1 required positional argument: 'a'

In [99]:
fun("world")

world

What is happening ? 
At first the fun is pointing to an object. Later again if you trying to make an function fun with argument a then the refrence of the first one gets over and the refrence in second one can only be observed.

#### class variable vs instance variable 
The variable inside the class is known as class variable or static variable and the variable inside the object is known as instance variable.

In [142]:
class Human:
    # static variable : common for all objects of that class 
    population = 0 
    def __init__(self,name, age):
        self.age = age
        self.name = name
        
        # when new baby is birth, increase the population
        Human.population += 1

In [143]:
Human.population

0

In [144]:
# new baby 
ashish = Human("Ashish Aryal", 1)

In [145]:
ashish.population

1

In [146]:
Human.population

1

In [147]:
# again new baby  
piyush = Human("Piyush osti", 1)

In [148]:
piyush.population

2

In [149]:
piyush.population += 1

In [150]:
piyush.population, ashish.population, Human.population

(3, 2, 2)

In [151]:
class Human:
    # static variable : common for all objects of that class 
    population = 0 
    def __init__(self,name, age):
        self.age = age
        self.name = name
        
        # when new baby is birth, increase the population
        # if we had used self 
        self.population += 1

In [152]:
umesh = Human("Umesh Joshi",1)

In [153]:
umesh.population

1

In [154]:
Human.population # As self is used.

0

In [155]:
zayn = Human("Zayn Malik", 1)

In [156]:
zayn.population

1

In [157]:
Human.population

0

In [191]:
class Human:
    # static variable : common for all objects of that class 
    population = 0 
    def __init__(self,name, age):
        self.age = age
        self.name = name
        
        Human.population += 1

    @staticmethod # this is called the decorator 
    # used to modify behaviour of a function 
    # this is basically letting us call the object without passing self 
    def fun():
        print(Human.population)

In [192]:
a = Human("a",1)
b = Human("b",2)

In [193]:
a.fun()

2

In [5]:
class Human:
    population = 0 
    def __init__(self,name, age):
        self.age = age
        self.name = name
        
        Human.population += 1

    @staticmethod 
    def fun():
        print(Human.population)
        
    def getName(self):
        print(self.name)

    @classmethod
    def destroy(cls): # human will be passed in place of cls not the object 
        cls.population = 0

In [6]:
a = Human('ab', 112 ) 
b = Human('bh', 356)

In [7]:
a.fun()

2

In [8]:
a.getName()

ab

In [10]:
b.destroy()

In [11]:
a.population

0

In [12]:
b.population

0

In [13]:
Human.population

0

This shows that class method is not affected by object or class. 
Difference between static method and class method : 
In class method the value of class is passed while in the static method nothing is passed.

In [25]:
# is there would not have used the class method then we would have to give the value 0 for every time while calling the object. 
class Human:
    def __init__(self,name, age):
        self.age = age
        self.name = name
        self.population = population
        
        Human.population += 1

    @staticmethod 
    def fun():
        print(Human.population)
        
    def getName(self):
        print(self.name)

In [26]:
# more example of the class object to create the new object 
class Human:
    population = 0 
    def __init__(self,name, age):
        self.age = age
        self.name = name
        
        Human.population += 1

    @staticmethod 
    def fun():
        print(Human.population)
        
    def getName(self):
        print(self.name)

    @classmethod
    def destroy(cls): 
        cls.population = 0

    @classmethod
    def fromString(cls, string, age): 
        return cls(string, age)

In [27]:
a = Human('abc', 3)
b = Human('dhg', 5)

In [28]:
Human.destroy()

In [29]:
c = Human.fromString("c", 34 )

Here cls = Human then return Human(string,age) this is basically an constructor and will call the __init__ method.

In [36]:
c.population

1

In [37]:
c.name

'c'

In [38]:
c.age

34

Use of the class method is to change the value of the static variable or the class variable and to create an object.

#### Inheritance

In [41]:
class Parent: 
    f = 80
    def __init__(self, value): 
        self.value = value

In [43]:
class child(Parent): 
    pass

In [44]:
parent = Parent(56) # creating an parent object

In [45]:
parent.value , parent.f

(56, 80)

In [47]:
# now creating an child class which uses the parent properties 
class Parent: 
    f = 80
    def __init__(self, value): 
        self.value = value 

class Child(Parent): 
    def __init__(self, value):
        super().__init__(value) # it is imp to call the parent constructor if you are creating child class 
        # or 
        # Parent.__init__(value)

In [48]:
obj = Child(45)

In [49]:
obj.f , obj.value

(80, 45)

In [50]:
obj2 = Parent(89)

In [51]:
obj2.value

89

In [52]:
Child.value

AttributeError: type object 'Child' has no attribute 'value'

Now you have created an object of parent class and has not call anything of the child class. The parent class will contain the value of f and value.